<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Application</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <div class="main">
    <div class="heading">
    <h1 class="date">Today <%= currentdate %></h1>
    </div>
    <div class="todolist">
      <div class="form">
    <h2 class="todo">To-do List</h2>
     <form class="form1" action="/addTodo" method="POST">
        <input class="input" type="text" name="todoItem" placeholder="Enter a new task">
        <button class="btn" type="submit">Add Task</button>
      </form>
      </div>
      <h2 class="list">Your To-Do List:</h2>
      <ul class="ullist">
        <% todos.forEach(function(todo, index) { %>
          <li class="tasks">
            <input type="checkbox" name="completed" value="<%= index %>">
            <%= todo.text %>
          </li>
        <% }); %>
      </ul>
      </div>
      </div>

      
    
</body>

</html>