<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Application</title>

</head>
<body>
  <div class="main">
    <div class="heading">
    <h1 class="date">Today <%= currentdate %></h1>
    </div>
    <div class="todolist">
    <h2 class="todo">To-do List</h2>
     <form action="/addTodo" method="POST">
        <input type="text" name="todoItem" placeholder="Enter a new task">
        <button type="submit">Add Task</button>
      </form>
      
      <h2 class="list">Your To-Do List:</h2>
      <ul>
        <% todos.forEach(function(todo, index) { %>
          <li>
            <input type="checkbox" name="completed" value="<%= index %>">
            <%= todo.text %>
          </li>
        <% }); %>
      </ul>
      </div>
      </div>

      
    
</body>

</html>